<div class="card" *ngIf="isLoading">
  <h4 class="card-header">Loading...</h4>
  <div class="card-block text-xs-center">
    <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
  </div>
</div>
 
<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Clientes: {{Clients.length}}</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="Clients.length === 0">
        <tr>
          <td colspan="4">Lista de clientes vazia. Cadastre um novo.</td>
        </tr>  
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let client of Clients">
          <td>{{client.cod}}</td>
          <td>{{client.name}}</td>
          <td>{{client.email}}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="enableEditing(client)"><i class="fa fa-pencil"></i> Editar</button> <button class="btn btn-sm btn-danger" (click)="deleteClient(client)"><i class="fa fa-trash"></i> Deletar</button>
          </td>
        </tr>  
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editClient(Client)" style="display:inline">
              <div class="form-group">
                  <input class="form-control" type="text" name="cod" [(ngModel)]="Client.cod" placeholder="Código" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="name" [(ngModel)]="Client.name" placeholder="Nome" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="email" [(ngModel)]="Client.email" placeholder="E-mail" required>
              </div>
              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Salvar</button>
            </form>
            <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancelar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Novo Cliente</h4>
  <div class="card-block">
    <form class="form-inline" [formGroup]="addClientForm" (ngSubmit)="addClient()" style="text-align:center">
      <div class="form-group">
          <input class="form-control" type="text" name="cod" formControlName="cod" placeholder="Código">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="name" formControlName="name" placeholder="Nome">
      </div>
       <div class="form-group">
        <input class="form-control" type="email" name="email" formControlName="email" placeholder="E-mail">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!addClientForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>