#procuts-search-result{
 position: absolute;
 z-index: 1000;
 background: #FFF;
 padding: 0;
 min-width: 172px;
 box-shadow: 3px 3px 6px #666;
}

#procuts-search-result li{
    padding: .4em;
    border-bottom: 1px solid #F1F1F1;
    list-style: none;
    text-align: left;
    min-width: 172px;
}