<div class="card" *ngIf="isLoading">
    <h4 class="card-header">Loading...</h4>
    <div class="card-block text-xs-center">
        <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
    </div>
</div>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
    <h4 class="card-header">Pedido: {{pedido.length}}</h4>
    <div class="card-block">
        <table class="table table-bordered table-striped">
            <thead class="thead-default">
                <tr>
                    <th>Código</th>
                    <th>Cliente</th>
                    <th>Data</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody *ngIf="pedido.length === 0">
                <tr>
                    <td colspan="4">lista de Pedidos vazia. Cadastre um novo.</td>
                </tr>
            </tbody>
            <tbody *ngIf="!isEditing">
                <tr *ngFor="let pedido of Pedidos">
                    <td>{{pedido.cod}}</td>
                    <td>{{pedido.client}}</td>
                    <td>{{pedido.data}}</td>
                    <td>
                        <a class="btn btn-sm btn-warning" [routerLink]="['/app/order-items',pedido._id]">Items</a>
                        <button class="btn btn-sm btn-warning" (click)="enableEditing(pedido)"><i class="fa fa-pencil"></i> Editar</button> <button class="btn btn-sm btn-danger" (click)="deletePedido(pedido)"><i class="fa fa-trash"></i> Deletar</button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="isEditing">
                <tr>
                    <td colspan="4">
                        <form class="form-inline" #form="ngForm" (ngSubmit)="editPedido(pedido)" style="display:inline">
                            <div class="form-group">
                                <input class="form-control" type="text" name="cod" [(ngModel)]="pedido.cod" placeholder="Código" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="client" [(ngModel)]="pedido.client" placeholder="Cliente" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="data" [(ngModel)]="pedido.data" placeholder="Data" required>
                            </div>
                            
                            <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Salvar</button>
                        </form>
                        <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancelar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card" *ngIf="!isEditing">
    <h4 class="card-header">Novo Pedido</h4>
    <div class="card-block">
        <form class="form-inline" [formGroup]="addPedidoForm" (ngSubmit)="addPedido()" style="text-align:center">
      <div class="form-group">
          <input class="form-control" type="text" name="cod" formControlName="cod" placeholder="Código">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="name" formControlName="client" placeholder="Cliente">
      </div>
       <div class="form-group">
        <input class="form-control" type="text" name="data" formControlName="data" placeholder="Data">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!addPedidoForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
    </form>

    </div>
</div>