<div class="container">

    <nav class="navbar navbar-dark bg-primary">
        <div class="nav navbar-nav">
            <a routerLink="app/clientes" class="nav-item nav-link">
                <i class="fa fa-users"></i> Clientes                
            </a>
            <a routerLink="app/produtos" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">                
                <i class="fa fa-barcode"></i> Produtos                
            </a>
            <a routerLink="app/pedidos" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">                
                <i class="fa fa-barcode"></i> Pedidos        
            </a>

        </div>
    </nav>

    <router-outlet></router-outlet>

</div>