<div class="card" *ngIf="isLoading">
    <h4 class="card-header">Loading...</h4>
    <div class="card-block text-xs-center">
        <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
    </div>
</div>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
    <h4 class="card-header">Produto: {{Products.length}}</h4>
    <div class="card-block">
        <table class="table table-bordered table-striped">
            <thead class="thead-default">
                <tr>
                    <th>Código de Barras</th>
                    <th>Nome do Produto</th>
                    <th>Quantidade em Estoque</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="Products.length === 0">
                <tr>
                    <td colspan="4">Lista de produtos vazia. Cadastre um novo.</td>
                </tr>
            </tbody>
            <tbody *ngIf="!isEditing">
                <tr *ngFor="let product of Products">
                    <td>{{product.ean}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.qtde}}</td>
                    <td>
                        <button class="btn btn-sm btn-warning" (click)="enableEditing(product)"><i class="fa fa-pencil"></i> Editar</button> <button class="btn btn-sm btn-danger" (click)="deleteProduct(product)"><i class="fa fa-trash"></i> Deletar</button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="isEditing">
                <tr>
                    <td colspan="4">
                        <form class="form-inline" #form="ngForm" (ngSubmit)="editProduct(Product)" style="display:inline">
                            <div class="form-group">
                                <input class="form-control" type="text" name="ean" [(ngModel)]="Product.ean" placeholder="Código de Barras" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="name" [(ngModel)]="Product.name" placeholder="Nome do Produto" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="qtde" [(ngModel)]="Product.qtde" placeholder="Quantidade em Estoque" required>
                            </div>
                            <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Salvar</button>
                        </form>
                        <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancelar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card" *ngIf="!isEditing">
    <h4 class="card-header">Novo Produto</h4>
    <div class="card-block">
        <form class="form-inline" [formGroup]="addProductForm" (ngSubmit)="addProduct()" style="text-align:center">
            <div class="form-group">
                <input class="form-control" type="text" name="cod" formControlName="ean" placeholder="Código de Barras">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="name" formControlName="name" placeholder="Nome do Produto">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="qtde" formControlName="qtde" placeholder="Quantidade em Estoque">
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!addProductForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
        </form>
    </div>
</div>